fastapi==0.111.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
pydantic==2.8.2
python-multipart==0.0.9
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gspread
gspread-pandas
pymongo[async]>=4.9,<4.10
pandas